<div class="box" *ngFor="let block of blockchain | async">
  <div class="box-header"><h1>Block #{{block.index}}</h1></div>
  <div class="box-content">
    <p>Timestamp: {{block.timestamp}}</p>
    <p>Transactions:</p>
    <p *ngFor="let transaction of block.transactions">{{transaction.hash}} - {{transaction.from}}
      ({{transaction.amount}}) -> {{transaction.to}}</p>
    <p>Hash: {{block.hash}}</p>
    <p>Previous: {{block.previous}}</p>
  </div>
</div>
<div class="box">
  <button class="mine" (click)="mine()">Mine</button>
</div>
