<div class="container">
  <div class="header">
    <img class="header-img" src="/assets/logo.png">
    <p class="title">mattcoin</p>
    <nav>
      <a routerLink="/blockchain" routerLinkActive="active">
        <button class="navButton">Blockchain</button>
      </a>
      <a routerLink="/transactions" routerLinkActive="active">
        <button class="navButton">Transactions</button>
      </a>
      <a routerLink="/wallet" routerLinkActive="active">
        <button class="navButton">Wallet</button>
      </a>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
