/* You can add global styles to this file, and also import other style files */
body {
  background-color: #01161E;
  color: #01161E;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

  overflow: visible;
}

.header {
  /*background-color: #F5F1E3;*/
  color: white;
  padding: 10px;
}

.header-img {
  height: 50px;
  float: left;
}

.content {
  margin: 0 10% auto;
  padding: 10px;
}

.box {
  float: left;
  width: 100%;
  margin: 1%;

  background-color: #F5F1E3;
}

.box-header {
  background-color: #DDDBCB;
}

.box-content {
  padding: 1%;
  width: 96%;
}

.clickable {
  cursor: pointer;
}

.content p, .content ul, .content table {
  text-align: justify;
  margin: 0 auto;
}

.content p {
  width: 95%;
}

.content ul {
  width: 80%;
}

.content table {
  width: 50%;
}

table {
  border-spacing: 0;
  margin-top: 10px;
}

td {
  padding: 5px 20px 5px 5px;
  border-top: 1px solid #CCC;
}

.left {
  float: left;
  padding-left: 10px;
}

.wide {
  width: 80% !important;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

form {
  width: 95%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: #3C5863;
  text-transform: uppercase;

  text-align: justify;
  margin: 0 auto;
  width: 95%;

  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: normal;
}

h4 {
  -webkit-margin-before: 1.6em;
}

h5 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0;
}

a, a:visited {
  color: #01161E !important;
}

a:hover {
  color: #006989 !important;
}

button {
  background-color: #006989;
  border: 0;
  color: #DDDBCB;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #01A7C2;
}

button:disabled {
  background-color: #CCC;
}

.code {
  font-family: "Courier New", serif;
  background-color: #F1F1F1;
  padding-left: 10px;
}

.footer {
  padding-top: 30px;
}

.inline {
  display: inline-block;
  width: auto;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.card p {
  text-align: left;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
