/* You can add global styles to this file, and also import other style files */
body {
  background-color: #01161E;
  color: #01161E;
  font-family: 'Roboto', sans-serif;

  padding: 0;
  margin: 0;
  height: 100%;

  overflow: visible;
}

.container {
  min-height: 100%;
  position: relative;
}

.header {
  background-color: #01161E;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 4em;
  text-transform: uppercase;
  color: #F5F1E3;

  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

.content {
  margin: 0 10% auto;
  padding: 10px 10px 60px;
  height: 100%;
}

.footer {
  background-color: #F5F1E3;
  color: #01161E;

  width: 100%;
  height: 100px;

  text-align: center;
}

.box {
  float: left;
  width: 100%;
  margin: 1%;

  background-color: #F5F1E3;
}

.box-header {
  background-color: #DDDBCB;
}

.box-content {
  padding: 1%;
  width: 90%;

}

.clickable {
  cursor: pointer;
}

.left {
  float: left;
  padding-left: 10px;
}

.wide {
  width: 80% !important;
}

.large {
  width: 100%;
  height: 50px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  margin: 5px;
}

form {
  width: 95%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: #3C5863;
  text-transform: uppercase;

  text-align: justify;
  margin: 0 auto;
  width: 95%;

  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: normal;
}

h4 {
  -webkit-margin-before: 1.6em;
}

h5 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0;
}

a, a:visited {
  color: #01161E !important;
}

a:hover {
  color: #006989 !important;
}

button {
  /*background-color: #006989;*/
  background-color: #DDDBCB;
  border: 0;
  color: #01161E;
  /*color: #DDDBCB;*/
  padding: 8px;
  cursor: pointer;

  height: 100%;
}

button:hover {
  /*background-color: #01A7C2;*/
  background-color: #F5F1E3;
}

button:disabled {
  background-color: #CCC;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

.mine {
  height: 60px;
}
